<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>title</title>
</head>
<body>
  <h1>Pig Latinizer!</h1>
  <form action="piglatinize" method="post">
    <p>
      <label for="text">Enter your phrase:</label>
      <input type="text" name="user_phrase" id="user_phrase">
      <button type="submit" id="submit"></button>
    </p>
  </form>

</body>
</html>
